<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">-->
<!--        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>-->
<!--      </button>-->
<!--      <a routerLink="/">-->
<!--        <div class="navbar-logo">-->
<!--          <img-->
<!--            src="https://lh5.googleusercontent.com/BhhgMLODm65M2l8bSyf9Dv4h2P5PdbCmunbiAZnAGHlZvvRDb182CDDoU5UOtueeH2GH8j3xtqL2eqqJl3yjAkf7GsJuekOY_7XDhElGAB6fPDDF_vEvBcqHNHEP6Qf8NERuUBO68VU"-->
<!--            width="65" height="65" alt="logo">-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"-->
<!--         *ngIf="!getLoggedUser();else elseBlock">-->

<!--    </div>-->
<!--    <ng-template #elseBlock>-->
<!--      <div>-->
<!--        <ul class="nav navbar-nav navbar-center">-->
<!--          <li><a routerLink="/home">Home</a></li>-->
<!--          <li><a routerLink="/moodleIntegration">Integration to Moodle</a></li>-->
<!--          <li><a routerLink="/violationPage">Violations Report</a></li>-->

<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" routerLink="/manualAction" id="navbarDropdownMenuLink">Manual Action for-->
<!--              Admin</a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--              <div>-->
<!--                <a class="nav-link dropdown-item" routerLink="manualAction/students">Manage Students</a>-->
<!--              </div>-->
<!--              <div>-->
<!--                <a class="dropdown-item" routerLink="/manualAction/course">Manage Courses</a>-->
<!--              </div>-->
<!--              <div>-->
<!--                <a class="dropdown-item" routerLink="/manualAction/courseapp">Manage Course Appearance</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->


<!--        </ul>-->
<!--      </div>-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li class="user">-->
<!--          <p>HI, {{user.email}}</p>-->
<!--        </li>-->
<!--        <li class="user"><img class="users-img" [src]="user.imageUrl"/></li>-->
<!--        <li><a (click)="logOut()">Log Out</a></li>-->
<!--      </ul>-->
<!--    </ng-template>-->

<!--  </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="https://lh5.googleusercontent.com/BhhgMLODm65M2l8bSyf9Dv4h2P5PdbCmunbiAZnAGHlZvvRDb182CDDoU5UOtueeH2GH8j3xtqL2eqqJl3yjAkf7GsJuekOY_7XDhElGAB6fPDDF_vEvBcqHNHEP6Qf8NERuUBO68VU"
      width="65" height="65" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [class.collapse]="collapsed" (window:resize)="collapsed = true"
       *ngIf="!getLoggedUser();else elseBlock">

  </div>
  <ng-template #elseBlock>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/moodleIntegration">Integration to Moodle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/violationPage">Report</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Manual Action for Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link dropdown-item" routerLink="manualAction/students">Manage Students</a>
          <a class="dropdown-item" routerLink="/manualAction/course">Manage Courses</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="user">
        <p>HI, {{user.email}}</p>
      </li>
      <li class="user"><img class="users-img" [src]="user.imageUrl"/></li>
      <li><a (click)="logOut()">Log Out</a></li>
    </ul>
  </ng-template>
</nav>
