<div class="d-flex align-items-center">
  <h1 class="page-header">Students</h1>
  <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#exampleModalLong">
    Create
  </button>
</div>
<hr>
<div class="row my-2">
  <div class="col-sm-12">
    <div class="d-flex">
      <div style="width: 200px">
        <label for=""><b> Filter</b></label>
        <input type="text" class="form-control" [(ngModel)]="search" style="border: 2px solid black">
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Type</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <!--    <th scope="col">Upload summary</th>-->
    <!--    <th scope="col">Exams Directories</th>-->
    <th scope="col">Image</th>
    <!--    <th scope="col">Followed Courses</th>-->
    <th>
    </th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let u of users | filter:{ name: search,email:search} : false;let i=index"
      [attr.data-index]="i">
    <td>{{i}}</td>
    <td>{{u.type}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td>
    <!--    <td>-->
    <!--      <ul style="max-height: 150px;overflow-y: auto">-->
    <!--        <li *ngFor="let item of u.summaries; let i=index; trackBy:trackByIndex">{{item}}</li>-->
    <!--      </ul>-->
    <!--    </td>-->
    <!--    <td>{{u.examsDirectories}}</td>-->
    <td><img [src]="u.imageUrl" alt="" width="100"></td>
    <!--    <td>-->
    <!--      <ul style="max-height: 150px;overflow-y: auto">-->
    <!--        <li *ngFor="let item of u.cources; let i=index; trackBy:trackByIndex">{{item}}</li>-->
    <!--      </ul>-->
    <!--    </td>-->
    <!--td>
      <button (click)="delete(u)" class="btn btn-danger">Delete</button>
    </td-->
  </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModalLong" childModal tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">create user</h5>
        <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Image</label>
          <div class="uploader">
            <image-selector (onfileChanged)="onFileChange($event)"></image-selector>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="name" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="email" [(ngModel)]="user.email">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="password" [(ngModel)]="user.password">
          </div>
          <div class="form-group">
            <label>Type</label>
            <select [(ngModel)]="user.type" class="form-control">
              <option>ADMIN</option>
              <option>LECTURER</option>
              <option>USER</option>
              
            </select>
          </div>
<!--          <div class="form-group">-->
<!--            <label>Summaries</label>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-8">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <select [(ngModel)]="selectedSummary" class="form-control">-->
<!--                    <option *ngFor="let s of summaries" [ngValue]="s">{{s.title}}</option>-->
<!--                  </select>-->
<!--                  <button class="btn btn-warning ml-auto" (click)="addSummary()">+</button>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-sm-4">-->
<!--                <li *ngFor="let s of selectedSummaries; let i=index">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <span>{{s.title}}</span>-->

<!--                    <samll class="text-danger ml-auto" (click)="selectedSummaries.splice(i,1)">Remove</samll>-->
<!--                  </div>-->
<!--                </li>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label>Courses</label>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-6">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <select [(ngModel)]="selectedCourse" class="form-control">-->
<!--                    <option *ngFor="let c of courses" [ngValue]="c">{{c.name}}</option>-->
<!--                  </select>-->
<!--                  <button class="btn btn-warning ml-auto" (click)="addCourse()">+</button>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-sm-6">-->
<!--                <ul>-->
<!--                  <li *ngFor="let s of selectedCourses; let i=index">-->
<!--                    <div class="d-flex align-items-center">-->
<!--                      <span>{{s.name}}</span>-->

<!--                      <samll class="text-danger ml-auto" (click)="selectedCourses.splice(i,1)">Remove</samll>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveUser()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
