<form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmitLogIn()">
  <div id="login-box">
    <div class="left">
      <h1>Log in</h1>
      <input placeholder="Email" class="form-control" formControlName="email">
      <br>
      <input matInput class="form-control" placeholder="Password" formControlName="password">
      <button type="submit" mat-button
              class="mat-raised-button mat-primary social-signin">Login
      </button>
      <mat-error *ngIf="!isValid">{{serverErr}}</mat-error>
    </div>
  </div>
</form>
